<mat-card class="main-card">
    <h1 class="login-header">OurCloud | Please login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
        <mat-form-field class="formGroup">
            <mat-label for="username">Username</mat-label>
            <input matInput type="text" formControlName="username" class="form-control">
        </mat-form-field>

        <mat-form-field class="formGroup">
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" formControlName="password" class="form-control">
        </mat-form-field>

        <button mat-raised-button color="accent" class="loginButton" (click)="onSubmit()">
            Login
        </button>
    </form>
</mat-card>
