.navbar {
    -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.25);
    margin-bottom: 2vw;
    grid-area: navbar;
}

.content {
    grid-area: content;
}

#app-name {
    font-size: 36px;
}

.navitem {
    padding-left: 1%;
    text-decoration: none;
    color: black;
}

.navitem:hover {
    color: darkgrey;
}

.main {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
    "navbar navbar navbar"
    ". content .";
}
