
<div class="curr-folder-details">
  Current folder: {{model.originalName}} <br>
  Size: {{model.fileSize | filesize}} <br>
  Owner: {{model.ownerId}} <br>
</div> 

<table mat-table [dataSource]="model.containedFiles" class="mat-elevation-z8">

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef class="type-column"> </th>
    <td mat-cell *matCellDef="let file">
        <span><mat-icon class="type-icon">{{file.isFolder ? 'folder_open' : 'description'}}</mat-icon></span>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef> Filename </th>
    <td mat-cell *matCellDef="let file">
        <span *ngIf="file.isFolder" (click)="signalModelChange(file.relativePath, file.isFolder)" class="filename">{{file.originalName}}</span>
        <span *ngIf="!file.isFolder" (click)="fireDownloadFileEvent(file)" class="filename">{{file.originalName}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef> Owner </th>
    <td mat-cell *matCellDef="let file"> {{file.ownerId}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Size </th>
    <td mat-cell *matCellDef="let file"> {{file.fileSize | filesize}} </td>
  </ng-container>

  <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let file">

        <mat-icon class="elementmenu" [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="fireDeleteFileEvent(file)">
            <mat-icon class="elementmenuicon">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>